1. Install Pycaret & sanity check

In [2]:
from pycaret.classification import *

2. Load dataset in AutoML notebook & verify

In [3]:
import pandas as pd
df = pd.read_csv("../data/processed/stroke_cleaned.csv")

df.head()
df.info()
df['stroke'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
 12  bmi_category       5110 non-null   object
dtypes: float64(3), int64(4), object(6)
memory usage: 519.1+ KB

stroke
0    4861
1     249
Name: count, dtype: int64

3. Initialize PyCaret Setup

In [6]:
clf_setup = setup(
    data=df,
    target='stroke',
    session_id=42,
    train_size=0.8,
    fold=5,
    normalize=True,
    transformation=True,
    fix_imbalance=True,
    verbose=True
)

4. Compare Models

In [7]:
best_model = compare_models(sort='AUC')

5. Evaluate AutoML Model

In [8]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

6. Generate predictions and metrics explicitly

In [9]:
# Generate Predictions
predictions = predict_model(best_model)
predictions.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,bmi_category,stroke,prediction_label,prediction_score
3725,24202,Male,63.0,0,0,Yes,Private,Rural,78.230003,34.799999,never smoked,Obese,0,0,0.9530
4481,66006,Female,43.0,0,0,Yes,Private,Urban,86.669998,33.299999,never smoked,Obese,0,0,0.9830
1545,52089,Female,23.0,0,0,No,Private,Urban,126.669998,28.700001,smokes,Overweight,0,0,0.9891
1820,47608,Female,21.0,0,0,No,Private,Urban,208.169998,24.900000,never smoked,Normal,0,0,0.9960
1262,48781,Male,67.0,0,0,Yes,Private,Rural,113.339996,26.299999,formerly smoked,Overweight,0,0,0.7401

In [11]:
# Compute ROC-AUC Score
from sklearn.metrics import roc_auc_score

roc_auc_automl = roc_auc_score(
    predictions['stroke'],
    1 - predictions['prediction_score']
)

roc_auc_automl

0.8318724279835391

7. Explainability for LDA using coefficients

In [15]:
# Extract feature names
X_transformed = get_config('X_train_transformed')
feature_names = X_transformed.columns

In [21]:
# Extract LDA Coefficients
import pandas as pd
import numpy as np

lda_coefficients = pd.DataFrame({
    'Feature': feature_names,
    'Coefficient': best_model.coef_[0]
})

lda_coefficients['Absolute_Coefficient'] = np.abs(lda_coefficients['Coefficient'])

lda_coefficients = lda_coefficients.sort_values(
    by='Absolute_Coefficient',
    ascending=False
)

lda_coefficients.head(10)

                           Feature  Coefficient  Absolute_Coefficient
1                    gender_Female     8.688930              8.688930
2                      gender_Male     8.651935              8.651935
18         bmi_category_Overweight     3.113188              3.113188
16              bmi_category_Obese     2.883401              2.883401
20     smoking_status_never smoked     2.571308              2.571308
23  smoking_status_formerly smoked     2.531425              2.531425
22          smoking_status_Unknown     2.397361              2.397361
17             bmi_category_Normal     2.272598              2.272598
21           smoking_status_smokes     2.223301              2.223301
8                work_type_Private     2.061805              2.061805